<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	
	<insert id="insert" parameterType="Product">
		insert into product(product_name, brand, price, discount, introduce, detail, subcategory_id)
		values(#{product_name}, #{brand}, #{price}, #{discount}, #{introduce}, #{detail}, #{subCategory.subcategory_id})
		
		<!-- 레코드를 insert하자 마자, 방금들어간 pk값을 반환해야 할 업무가 상당히 빈번하다..
			따라서 MyBatis는 이 기능을 별도의 쿼리문으로 수행하지 않고, 현재 insert 태그 내에서 지원하는 방법을 제공함   
			last_insert_id() : 현재 세션에서 발생시킨 auto_increment 값을 반환(특징? 현재 세션내에서 나에 의해서 발생된 값만 반환)
			시퀀스명.currval  : 동일 목적 
		-->	
		<selectKey keyColumn="product_id" resultType="int"  order="AFTER" keyProperty="product_id">
			select last_insert_id() as product_id
		</selectKey>
	</insert>
	
	<!-- mybatis에 의해 DTO와 컬럼명이 일치하지 않을 경우 자동 매핑이 실행될 수 없으므로
			이 시점부터는 개발자가 나서서 수동으로 매핑을 시도할 수 있다..
	 -->
	<resultMap id="productMap" type="Product">
		<id  column="product_id" 			property="product_id" />
		<result column="product_name" 	property="product_name"/>	
		<result column="brand" 				property="brand"/>	
		<result column="price" 				property="price"/>	
		<result column="discount" 			property="discount"/>	
		<result column="introduce" 			property="introduce"/>	
		<result column="detail" 				property="detail"/>
		
		<!-- 
			다른 테이블의 레코드 1건을 가져오기 
			association 이란? 부모의 레코드를 가져오는 기능을 말하며, 자식과 부모의 1:1 관계에서 사용 
		-->	
		<association column="subcategory_id" property="subCategory" javaType="SubCategory" 
			select="SubCategory.select"/>
	
		<!-- 
			collection 이란? 여러건의 자식 레코드를 가져올 수 있는 mybatis의 기능 		
		 -->
		 <collection column="product_id" 
			 	select="ProductImg.selectByProductId"
			 	property="productImgList"
			 	javaType="java.util.List"
			 	ofType="ProductImg"
		 	/>
	</resultMap>
	
	<!-- 모든 상품 가져오기  -->
	<select id="selectAll" resultMap="productMap">
		select product_id, product_name, brand, price, discount, 
		introduce, detail, subcategory_id
		from product		
	</select>


</mapper>


















