.container {
    width: 700px;
    height: 600px;
    margin: auto;
}

.header {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    line-height: 50px;
}

.days {
    width: 100%;
    height: 50px;
    background-color: darkkhaki;
    position: relative; /* 자식에 position이 명시되었으므로 부모도 position이 필요 */
}

.content {
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    position: relative; /* 자식에 position이 명시되었으므로 부모도 position이 필요 */
}